<template>
  <div class="about ma-7 mt-10">
    <v-layout text-center wrap>
      <v-flex mb-4>
        <h2 class="display-1 font-weight-bold mb-3">About Us</h2>
        <p class="subheading font-weight-regular">
          <a href="https://gitlab.com/controllercubiomes" target="_blank">
            <img
              src="../assets/logo_gitlab.png"
              height="64"
              alt="Gitlab Logo"
            />
          </a>
          <a href="https://discord.gg/m4Ttwz5" target="_blank">
            <img
              src="../assets/logo_discord.png"
              height="64"
              alt="Discord Logo"
            />
          </a>
        </p>
        <br />
        <div class="subheading font-weight-regular">
          <h1>The "God-Tier Seed" Criteria</h1>
          <h2>Within 1,500 Blocks of (0,0)</h2>
          All Major Biomes<br />
          Bamboo Jungle<br />
          Ice Spikes<br />
          Mooshroom<br />
          Flower Forest<br />
          Roofed Forest<br />
          Warm Ocean<br />
          Frozen Ocean<br /><br />
          <h2>Within 2,048 Blocks of (0,0)</h2>
          At least 1 Ocean Monument<br />
          2 Witch Huts within 200 blocks of each other<br /><br />
          <h2>About</h2>
          This project was originally started by <a href="https://www.twitch.tv/sevadus" target="_blank">Matt "Sevadus" Zagursky</a>
          to find his perfect seed for a vanilla Minecraft world playthrough.<br />
          While he did not really play the seed he chose, the project continues to find seeds that match his original criteria as outlined above.<br />
          Sevadus has moved on but the project continues with developments at the Discord linked above, so feel free to join us.<br />
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: "About"
};
</script>

<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
