<template>
  <div>
    <v-overlay>
      <v-progress-circular
        :size="100"
        :width="7"
        indeterminate
        color="grey lighten-1"
      />
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: "SpinnerOverlay"
};
</script>
